.h-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #eee;
}

.nav-container {
  position: relative;
}

.nav-header {
  position: relative;
  cursor: pointer;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.nav-header:hover .nav-list {
  display: block;
}

.nav-list li {
  display: block;
  margin-bottom: 5px;
}

.nav-list li:hover {
  background-color: #e70000;
}

footer {
  background-color: #0d3f0d;
  color: #fff; 
  text-align: center;
  padding: 10px; 
  position: fixed;
  bottom: 0;
  width: 100%;
}

